@import "../../styles/Colours.scss";
@import "../../styles/zIndex.scss";
@import "../../styles/FontVariables.scss";

#columnTooltip {
  position: absolute;
  z-index: $column-tooltip;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: #fff;
  opacity: 1;
  padding: 10px;
  box-shadow: 2px 2px 5px #777;
  font-family: $fira-sans-condensed;
  font-size: 14px;

  .tooltipTitle {
    font-family: $fira-sans-condensed-semibold;
    line-height: 20px;
  }

  .tooltipDescription {
    line-height: 18px;
    margin: 0;
  }

  .tooltipItems ul {
    padding: 0;
    line-height: 16px;

    li {
      list-style-type: none;
      padding: 0 0 0 25px;
    }

    .listItemHeading, .listItemTitle { line-height: 22px; }
    .listItemTitle.active { font-family: $fira-sans-condensed-semibold; }
    .listItemDetail {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &.ListTooltip, &.ExpandingTooltip {
    .tooltipMain {
      width: 40%;
      float: left;
    }

    .tooltipItems {
      width: 60%;
      float: left;
    }
  }

  &.ListTooltip .tooltipItems ul {
    width: 50%;
    float: left;
    li { padding: 0 10px 0 18px; } // Padding left is 1.5x colorBox
  }

  &.ExpandingTooltip .tooltipItems li {
    padding-left: 30px;
    .colorBox { margin-left: -30px; }
    .listItemHeading { cursor: pointer; }
  }

  .colorBox {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    margin-top: 4px;
    margin-left: -16px;
  }

  .expandCollapse {
    position: absolute;
    margin-left: -13px;
    font-family: $fira-sans-condensed-semibold;
  }
}

#columnTooltipIndicator {
  position: absolute;
  width: 1px;
  height: 20px;
  border: 1px solid #ccc;
}
