
$light-grey: #ccc;

$near-black: #333333;

$dark-grey: #666666;

$socialBarBackground: #555556;

$white: #fff;

$popoverStroke: #888889;

$black: #000;

$label-grey: #666666;

$sidebar-drop-shadow: #D1D1D1;
