.emptyCategories {
  cursor: pointer;
}
.SocialBar {
  cursor: pointer;
  fill: #555556;
}

.hidden {
  display: none;
}

// WET CSS Override:
.workspace ul {
  margin: 0;
}

.workspace img {
  margin: 0;
}