//import google fonts
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:600);

@import "./Colours.scss";

$fira-sans-light: 'Fira Sans Condensed', sans-serif;
$fira-sans-extra-condensed: 'Fira Sans Extra Condensed', sans-serif;
$fira-sans-extra-condensed-medium: 'Fira Sans Extra Condensed', sans-serif;
$fira-sans-extra-condensed-semibold: 'Fira Sans Extra Condensed', sans-serif;


//heading
.heading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 22px;
  fill: $black;
  margin: 0.5em 0 0 0;
  padding: 0;
}

//subheading and incident popover text
.subpop {
  font-family: $fira-sans-extra-condensed;
  font-size: 12px;
  fill: $black;
  margin: 0.5em 0 0 0;
  padding: 0;
}

.activeCategoryLabels {
  font-family: $fira-sans-extra-condensed-medium;
  font-size: 13px;
  fill: $black;
  text-align: left;
}

.inactiveCategoryLabels {
  font-family: $fira-sans-extra-condensed-medium;
  fill: $label-grey;
  font-size: 13px;
  font-style: medium;
  text-align: left;
}

.barsHeading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 15px;
  fill: $black;
  text-align: left;
}

.barsSubHeading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 10px;
  fill: $black;
  text-align: left;
}

.headerButtonLabel {
  font-family: $fira-sans-extra-condensed-semibold;
  // NB: fontSize set via constants, to stay consistent with other measurements
  text-align: left;
  fill: $socialBarBackground;
}

.sidebars {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 14px;
  text-align: left;
  fill: $white;
}

.emptyCategories {
  font-family: $fira-sans-light;
  font-size: 12px;
  text-align: center;
  color: $black;
}

.filterBox {
  font-family: $fira-sans-extra-condensed;
  font-style: regular;
  font-size: 10.5px;
  text-align:left;
  color: $near-black;
}