$fira-sans-condensed: 'FiraSansCondensed', sans-serif;
$fira-sans-condensed-medium: 'FiraSansCondensedMedium', sans-serif;
$fira-sans-condensed-semibold: 'FiraSansCondensedSemibold', sans-serif;


// $fira-sans-light: 'FiraSansCondensed', sans-serif;
// $fira-sans-extra-condensed: 'FiraSansExtraCondensed', sans-serif;
// $fira-sans-extra-condensed-medium: 'FiraSansExtraCondensedMedium', sans-serif;
// $fira-sans-extra-condensed-semibold: 'FiraSansExtraCondensedSemibold', sans-serif;


