@import "./Colours.scss";


@font-face {
  font-family: "FiraSansCondensed";
  src:url("fonts/FiraSansCondensed-Regular.eot");
  src:url("fonts/FiraSansCondensed-Regular.eot") format("eot"),
      url("fonts/FiraSansCondensed-Regular.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-Regular.woff") format("woff"),
      url("fonts/FiraSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansExtraCondensed";
  src:url("fonts/FiraSansCompressed-Regular.eot");
  src:url("fonts/FiraSansCompressed-Regular.eot") format("eot"),
      url("fonts/FiraSansCompressed-Regular.woff2") format("woff2"),
      url("fonts/FiraSansCompressed-Regular.woff") format("woff"),
      url("fonts/FiraSansCompressed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansExtraCondensedMedium";
  src:url("fonts/FiraSansCompressed-Medium.eot");
  src:url("fonts/FiraSansCompressed-Medium.eot") format("eot"),
      url("fonts/FiraSansCompressed-Medium.woff2") format("woff2"),
      url("fonts/FiraSansCompressed-Medium.woff") format("woff"),
      url("fonts/FiraSansCompressed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansExtraCondensedSemibold";
  src:url("fonts/FiraSansCompressed-SemiBold.eot");
  src:url("fonts/FiraSansCompressed-SemiBold.eot") format("eot"),
      url("fonts/FiraSansCompressed-SemiBold.woff2") format("woff2"),
      url("fonts/FiraSansCompressed-SemiBold.woff") format("woff"),
      url("fonts/FiraSansCompressed-SemiBold.ttf") format("truetype");
}

$fira-sans-light: 'FiraSansCondensed', sans-serif;
$fira-sans-extra-condensed: 'FiraSansExtraCondensed', sans-serif;
$fira-sans-extra-condensed-medium: 'FiraSansExtraCondensedMedium', sans-serif;
$fira-sans-extra-condensed-semibold: 'FiraSansExtraCondensedSemibold', sans-serif;


//heading
// NB: The additional CSS ID here is necessary to overcome some default WET styles which
// are applied to heading elements.
.workspace .heading#incidentVisualizationHeading,
.screenshotWorkspace .heading#incidentVisualizationHeading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 22px;
  fill: $black;
  margin: 0.5em 0 0 0;
  padding: 0;

  // WET Override
  border: none;
  font-weight: 400;
}

//subheading and incident popover text
.subpop {
  font-family: $fira-sans-extra-condensed;
  font-size: 12px;
  fill: $black;
  margin: 0.5em 0 0 0;
  padding: 0;
}

//subheading and incident popover text
.disclaimer {
  font-family: $fira-sans-extra-condensed;
  font-size: 12px;
  fill: $black;
  margin: 0 0 0 0;
  padding: 0;
}

.activeCategoryLabels {
  font-family: $fira-sans-extra-condensed-medium;
  font-size: 13px;
  fill: $black;
  text-align: left;
}

.inactiveCategoryLabels {
  font-family: $fira-sans-extra-condensed-medium;
  fill: $dark-grey;
  font-size: 13px;
  text-align: left;
}

.barsHeading, .incidentsHeading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 15px;
  fill: $black;
  text-align: left;
}

.barsSubHeading {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 10px;
  fill: $black;
  text-align: left;
}

.headerButtonLabel {
  font-family: $fira-sans-extra-condensed-semibold;
  // NB: fontSize set via constants, to stay consistent with other measurements
  text-align: left;
  fill: $socialBarBackground;
}

.sidebars {
  font-family: $fira-sans-extra-condensed-semibold;
  font-size: 14px;
  text-align: left;
  fill: $white;
}

.emptyCategories {
  font-family: $fira-sans-light;
  font-size: 12px;
  text-align: center;
  color: $black;
}

.filterBox {
  font-family: $fira-sans-extra-condensed;
  font-size: 10.5px;
  text-align:left;
  color: $near-black;
}

.storiesHeading {
  font-family: $fira-sans-extra-condensed;
  font-size: 18px;
  text-align: center;
  color: $black;
}

.storiesTitle {
  font-family: $fira-sans-light;
  font-size: 24px;
  color: $black;
  line-height: 1.5;
}

.PopupHeading {
  font-family: $fira-sans-extra-condensed-medium;
  font-size: 13px;
  fill: $black;
  margin: 5px 0 0 10px;
  padding: 0;

  // WET Override
  border: none;
}

.PopupOverview {
  font-family: $fira-sans-extra-condensed-medium;
  font-size: 12px;
  fill: $black;
  margin: -3px 0 0 10px;
  padding: 0;

  // WET Override
  border: none;
}

.PopupPlusSign {
  font-family: $fira-sans-light;
  font-size: 20px;
  color: $black;
  margin-right: 4px;
}

.PopupText {
  font-family: $fira-sans-extra-condensed-medium;
  font-size: 12px;
  color: $black;
  position: relative;
  bottom: 3px;
}

.PopupText_Active {
  font-family: $fira-sans-extra-condensed;
  font-size: 12px;
  color: $black;
  position: relative;
  bottom: 3px;  
}

.PopupDetailText {
  font-family: $fira-sans-extra-condensed;
  font-size: 12px;
  color: $black;
  position: relative;
  bottom: 3px;
  display: block;
}

.aboutHeading {
  font-family: $fira-sans-extra-condensed;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -5px;
  color: $black;
}

.aboutSubHeading {
  font-family: $fira-sans-extra-condensed;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: -5px;
  color: $black;
}

.aboutContent {
  font-family: $fira-sans-light;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
