@import "../styles/Colours.scss";
@import "../styles/Fonts.scss";


.Category {
  cursor:pointer;
  &:hover {
    stroke: $black !important;
    font-style: $fira-sans-extra-condensed-medium;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }
}
