@import "../styles/Colours.scss";

.ColumnPaths {
  fill: $light-grey;
  fill-opacity: 0.6;
  &:hover {
    fill: #666666;
    fill-opacity: 0.6;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }
}

