@import "../styles/Colours.scss";
@import '../styles/zIndex.scss';

.tooltip {
  position:absolute; 
  z-index:$column-tooltip; 
  min-width:322px;
  max-width:322px;
  min-height:110px;
  max-height:342px;
  overflow-y: scroll;
  overflow-x: hidden;
  border:1px solid #ccc;
  background-color: #fff;
  opacity: 1;
}

.PopupPlusSign {
  cursor: pointer;
}

.listContainer {
  position:relative;
  margin:-15px 0 0 10px;
  padding-left: 5px;
  text-indent: -4px;
}

.separator { 
  position:relative; 
  top:-5px;
}