@import "../styles/Colours.scss";
@import '../styles/zIndex.scss';

.tooltip {
  position:relative; 
  z-index:$column-tooltip; 
  width:322px;
  overflow-y: scroll;
  overflow-x: hidden;
  border:1px solid #ccc;
  background-color: #fff;
  opacity: 1;
  padding-bottom: 10px;
}

.PopupPlusSign {
  cursor: pointer;
  // Absolute positioning is only important to take this element out of flow,
  // so that the adjacent elements are not affected by its negative margin
  position: absolute;
  margin-left: -25px;
  line-height: 1;
}

.listContainer {
  margin: 0 0 0 10px;
}
