@import "../styles/Colours.scss";
@import "../styles/Fonts.scss";

.dragArrow {
  cursor: move;
}

.Column {
  cursor: pointer; 
}

g {
	transition: transform 50ms;
}
.sidebar:hover {
    -webkit-filter: drop-shadow(-10px 2px #D1D1D1);      
    filter: drop-shadow(-10px 2px #D1D1D1);  
}
#blur-effect-2:hover { filter:url(#blur-effect-2); }