@import "../styles/Colours.scss";

.headerBarBackground {
  fill: $socialBarBackground;
}

.headerButton {
  cursor: pointer;
  fill: $socialBarBackground;
}

.headerButtonLabel {
  cursor: pointer;
  text-anchor: end;
}

.leftHeader {
  position: absolute;
  z-index: 1;
  max-width: 80%;
}

.rightButtons {
  position: absolute;
}

.headingContainer {
  position: relative;
}

a {
  cursor: pointer;
}