@import "../styles/Colours.scss";

.headerBarBackground {
  fill: $socialBarBackground;
}

.headerButton {
  cursor: pointer;
  fill: $socialBarBackground;
}

.headerButtonLabel {
  cursor: pointer;
  text-anchor: end;
}

.leftHeader {
  position: absolute;
  max-width: 80%;
}

