@import "../styles/Fonts.scss";
@import "../styles/Colours.scss";

// NB: horizontalMargins must match Constants > pinColumn > horizontalMargins
$horizontalMargins: 11px;
$padding: 3px;
$borderWidth: 2px;
//$starPadding: 40px;

// This math lets us accomplish two things: it keeps the text aligned with the
// pinColumn / scrolling list column border $horizontalMargins px away from the
// left border, and it lets us draw the border around each list item such that
// it intrudes into the space left of the item. 
$leftMargin: $horizontalMargins - $padding - $borderWidth;
// + $starPadding;

.incidentListItem {

  margin-bottom: 13px;
  margin-left: $leftMargin; 
  padding: $padding;
  border: solid $borderWidth white;

  font-family: $fira-sans-extra-condensed-medium;
  font-size: 13px;
  cursor: pointer;
  box-sizing: border-box;

  p {
    margin: 0;
    line-height: 1.25em;
  }

  .lowEmphasis {
    color: $light-grey;
  }

  .mediumEmphasis {
    color: $dark-grey;
  }

  .highEmphasis {
    color: $near-black;
  }
  .starContainer {
    cursor: pointer;
    position:relative;
    margin-top: 18px;
    float: left;
    height: 35px;
    width: 30px;
  }

  .incidentContainer {
    cursor: pointer;
    margin-left: 40px;
  }

  .starImage {
    cursor:pointer;
  }

}

.incidentListItem:hover {
  border: solid $borderWidth $dark-grey;

  .mediumEmphasis {
    color: $dark-grey;
  }
}

.incidentListItem.pinned {
  border: solid $borderWidth $near-black;

  .mediumEmphasis {
    color: $near-black;
  }

}
