

.incidentListOuterContainer {

  // NB: necessary to establish stacking context for z-index
  position: relative;

  z-index: 2;

  .incidentListInnerContainer {
    position: absolute;
  }

  .incidentListScrollPane {
    display: block;
    cursor: pointer;
    overflow-y: scroll;
  }

  ul {
    padding: 0px;
  }

}