@import "../styles/Fonts.scss";
@import "../styles/Colours.scss";

.incidentListItem {

  font-family: $fira-sans-extra-condensed-medium;
  font-size: 13px;
  margin: 0px 5px 13px 5px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;

  p {
    margin: 0;
    line-height: 1.25em;
  }

  .lowEmphasis {
    color: $light-grey;
  }

  .mediumEmphasis {
    color: $dark-grey;
  }

  .highEmphasis {
    color: $near-black;
  }

  border: solid 2px white;

}


.incidentListItem:hover {
  border: solid 2px $dark-grey;

  .mediumEmphasis {
    color: $dark-grey;
  }
}

.incidentListItem.pinned {
  border: solid 2px $near-black;

  .mediumEmphasis {
    color: $near-black;
  }

}
