@keyframes workspace-overlay-loading-spinner-container-keyframes {
  100% {
    transform: rotate(360deg);
  }
}

.workspace-overlay-loading-spinner-bg {
  display: flex;
  width: 100%;
  min-height: 300px;

  .workspace-overlay-loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    > div {
      height: 88px;
      width: 88px;
      animation: workspace-overlay-loading-spinner-container-keyframes 1.4s linear infinite;
    }
    > p {
      margin: 16px;
      text-align: center;
      font-size: 2.5rem;
      color: rgb(26, 84, 142);
    }
    
    svg { display: block; }

    .workspace-overlay-loading-spinner {
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0px;
      stroke: rgb(26, 84, 142);
    }
  }
}
