@import '../styles/zIndex.scss';

.mapContainer {

  // NB: necessary to establish stacking context for z-index
  position: relative;
  z-index: $map-container-z;

  .innerContainer {
    position: absolute;
  }

  canvas {
    display: block;
  }


}

.mapContainer.dragged {
  z-index: $map-container-drag-z;
}