@import "../styles/Fonts.scss";
@import "../styles/Colours.scss";


.starredIncidentListOuterContainer {

  // NB: necessary to establish stacking context for z-index
  position: relative;

  z-index: 2;

  .starredIncidentListInnerContainer {
    position: absolute;
  }

  .starredIncidentListScrollPane {
    display: block;
    overflow-y: scroll;
  }

  ul {
    padding: 0px;
    list-style: none;
  }


}

