
<head>
  <meta charset="utf-8">

  <style type="text/css">
    body: {
      margin: 0;
    }

  </style>

  {{> app_header }}
</head>

<body>

  {{! <main role="main" property="mainContentOfPage" class="container"> }}

    {{> app_body }}

  {{! </main> }}

</body>
</html>
