
<head>
  <!-- NB: Do NOT add anything to this file which could cause it to make a network request for a resource that is not on the app server. Fonts, images, WET stylesheets, or anything else. The screenshot server is firewalled, and it will wait to timeout for every resource it can't load.  -->
  <meta charset="utf-8">

  <style type="text/css">
    body {
      margin: 0;
      overflow: hidden;
    }

  </style>

  {{> app_header }}
</head>

<body>

  {{> app_body }}

</body>
</html>
